.game {
  background-image: url('/images/gamepageimgp1.png');
}

.sign {
  position: fixed;
  top: -73px;
  left: -95px;
}

.cake {
  opacity: 0;
}

#game__board {
  position: absolute;
  top: 36px;
  right: 35px;
}

.hey0 {
  background-image: url('/images/generalbleu.png');
  background-repeat: no-repeat;
}

.hey1 {
  background-image: url('/images/fantassinbleu.png');
  background-repeat: no-repeat;
}

.hey2 {
  background-image: url('/images/fantassinbleu.png');
  background-repeat: no-repeat;
}

.hey3 {
  background-image: url('/images/fantassinbleu.png');
  background-repeat: no-repeat;
}

.hey4 {
  background-image: url('/images/fantassinbleu.png');
  background-repeat: no-repeat;
}

.hey5 {
  background-image: url('/images/lancierbleu.png');
  background-repeat: no-repeat;
}

.hey6 {
  background-image: url('/images/lancierbleu.png');
  background-repeat: no-repeat;
}

.hey7 {
  background-image: url('/images/lancierbleu.png');
  background-repeat: no-repeat;
}

.hey8 {
  background-image: url('/images/lancierbleu.png');
  background-repeat: no-repeat;
}

.hey9 {
  background-image: url('/images/cavalierbleu.png');
  background-repeat: no-repeat;
}

.hey10 {
  background-image: url('/images/cavalierbleu.png');
  background-repeat: no-repeat;
}

.heyy0 {
  background-image: url('/images/generalrouge.png');
  background-repeat: no-repeat;
}

.heyy1 {
  background-image: url('/images/fantassinrouge.png');
  background-repeat: no-repeat;
}

.heyy2 {
  background-image: url('/images/fantassinrouge.png');
  background-repeat: no-repeat;
}

.heyy3 {
  background-image: url('/images/fantassinrouge.png');
  background-repeat: no-repeat;
}

.heyy4 {
  background-image: url('/images/fantassinrouge.png');
  background-repeat: no-repeat;
}

.heyy5 {
  background-image: url('/images/lancierrouge.png');
  background-repeat: no-repeat;
}

.heyy6 {
  background-image: url('/images/lancierrouge.png');
  background-repeat: no-repeat;
}

.heyy7 {
  background-image: url('/images/lancierrouge.png');
  background-repeat: no-repeat;
}

.heyy8 {
  background-image: url('/images/lancierrouge.png');
  background-repeat: no-repeat;
}

.heyy9 {
  background-image: url('/images/cavalierrouge.png');
  background-repeat: no-repeat;
};

.heyy10 {
  background-image: url('/images/cavalierrouge.png');
  background-repeat: no-repeat;
};
